<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marque</th>
            <th scope="col">Modele</th>
            <th scope="col">Couleur</th>
            <th scope="col">Immatriculation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicule of vehicules">
            <th scope="row">{{ vehicule.id }}</th>
            <td>{{ vehicule.marque }}</td>
            <td>{{ vehicule.modele }}</td>
            <td>{{ vehicule.couleur }}</td>
            <td>{{ vehicule.immatriculation }}</td>
           
          </tr>
          
        </tbody>
      </table>
</div>